<form class="form-horizontal well">
  {{#if response_code}}
    <span class="label">Last Request</span>
    <span {{bindAttr class="resultClass"}}>{{result}}</span>
    <div class="control-group">
      <label class="control-label">Response Body</label>
      {{view Ember.TextArea valueBinding="formattedResult" disabled="true" class="input-xlarge" rows="10"}}
      </div>
    </div>
  {{/if}}

  <fieldset>
    <legend>API Request Tester</legend>

    <div {{bindAttr class="groupClass urlError:error"}}>
      <label class="control-label">URL http://localhost:3000 </label>
      <div class="controls">
        {{view Rollapi.ResourceTextField field="url" valueBinding="url" class="input-xlarge"}}
        {{#if urlError}}
          <span class="label label-important">{{urlError}}</span>
        {{else}}
          {{#if validatedUrl}}
            <span class="label label-success">Success</span>
          {{/if}}
        {{/if}}
      </div>
    </div>

    <div {{bindAttr class="groupClass userError:error"}}>
      <label class="control-label">Username</label>
      <div class="controls">
        {{view Rollapi.ResourceTextField field="user" valueBinding="user"}}
        {{#if userError}}
          <span class="label label-important">{{userError}}</span>
        {{else}}
          {{#if validatedUser}}
            <span class="label label-success">Success</span>
          {{/if}}
        {{/if}}
      </div>
    </div>

    <div {{bindAttr class="groupClass passwordError:error"}}>
      <label class="control-label">Password</label>
      <div class="controls">
        {{view Rollapi.ResourceTextField field="password" valueBinding="password" type="password"}}
        {{#if passwordError}}
          <span class="label label-important">{{passwordError}}</span>
        {{else}}
          {{#if validatedPassword}}
            <span class="label label-success">Success</span>
          {{/if}}
        {{/if}}
      </div>
    </div>

    <div {{bindAttr class="groupClass"}}>
      <label class="control-label">Company/Contact</label>
      <div class="controls">
        {{view Ember.Select  contentBinding="requestOwners" optionLabelPath="content.label" optionValuePath="content.value" valueBinding="request_owner"}}
      </div>
    </div>

    <div {{bindAttr class="groupClass"}}>
      <label class="control-label">create/find/search</label>
      <div class="controls">
        {{view Ember.Select  contentBinding="requestMethods" optionLabelPath="content.label" optionValuePath="content.value" valueBinding="request_method"}}
      </div>
    </div>

    {{#if needId}}
      <div {{bindAttr class="groupClass requestIdError:error"}}>
        <label class="control-label">Company/Contact ID</label>
        <div class="controls">
          {{view Rollapi.ResourceTextField field="request_id" valueBinding="request_id" }}
          {{#if requestIdError}}
            <span class="label label-important">{{requestIdError}}</span>
          {{else}}
            {{#if validatedRequestId}}
              <span class="label label-success">Success</span>
            {{/if}}
          {{/if}}
        </div>
      </div>
    {{/if}}


    {{#if needBody}}
      <div {{bindAttr class="groupClass bodyError:error"}}>
        <label class="control-label">Request Body</label>
        <div class="controls">
          {{view Rollapi.ResourceTextArea field="body" valueBinding="body" class="input-xlarge" rows="10"}}
          {{#if bodyError}}
            <span class="label label-important">{{bodyError}}</span>
          {{else}}
            {{#if validatedBody}}
              <span class="label label-success">Success</span>
            {{/if}}
          {{/if}}
        </div>
      </div>
    {{/if}}

    <div class="form-actions">
      <button class="btn btn-primary" type="submit" {{action search target="this"}}>
        Submit
      </button>
      <button class="btn" type="reset">Cancel</button>
    </div>
  </fieldset>
</form>
