<form class="form-horizontal well">

  {{#if response_code}}
    <span class="label">Last Request</span>
    <span {{bindAttr class="resultClass"}}>{{result}}</span>
  {{/if}}

  <fieldset>
    <legend>API Request Tester</legend>

    <div {{bindAttr class="groupClass urlError:error"}}>
      <label class="control-label">URL(http://localhost:3000)</label>
      <div class="controls">
        {{view Ember.TextField valueBinding="url" class="input-xlarge"}}
        {{#if urlError}}
        {{errorHelper urlError}}
        {{/if}}
      </div>
    </div>

    <div {{bindAttr class="groupClass userError:error"}}>
      <label class="control-label">Username</label>
      <div class="controls">
        {{view Ember.TextField valueBinding="user"}}
        {{#if userError}}
        {{errorHelper userError}}
        {{/if}}
      </div>
    </div>

    <div {{bindAttr class="groupClass passwordError:error"}}>
      <label class="control-label">Password</label>
      <div class="controls">
        {{view Ember.TextField valueBinding="password"}}
        {{#if passwordError}}
        {{errorHelper passwordError}}
        {{/if}}
      </div>
    </div>

    <div {{bindAttr class="groupClass request_ownerError:error"}}>
      <label class="control-label">Company/Contact</label>
      <div class="controls">
        {{view Ember.Select  contentBinding="requestOwners" optionLabelPath="content.label" optionValuePath="content.value" valueBinding="request_owner"}}
        {{#if request_ownerError}}
        {{errorHelper request_ownerError}}
        {{/if}}
      </div>
    </div>

    <div {{bindAttr class="groupClass request_methodError:error"}}>
      <label class="control-label">create/find/search</label>
      <div class="controls">
        {{view Ember.Select  contentBinding="requestMethods" optionLabelPath="content.label" optionValuePath="content.value" valueBinding="request_method"}}
        {{#if request_methodError}}
        {{errorHelper request_methodError}}
        {{/if}}
      </div>
    </div>

    <div {{bindAttr class="groupClass request_idError:error"}}>
      <label class="control-label">Company/Contact ID</label>
      <div class="controls">
        {{view Ember.TextField valueBinding="request_id" }}
        {{#if request_idError}}
        {{/if}}
        {{errorHelper request_idError}}
      </div>
    </div>

    <div {{bindAttr class="groupClass bodyError:error"}}>
      <label class="control-label">Request Body</label>
      <div class="controls">
        {{view Ember.TextArea valueBinding="body" class="input-xlarge" rows="10"}}
        {{#if bodyError}}
        {{errorHelper bodyError}}
        {{/if}}
      </div>
    </div>

    <div class="form-actions">
      <button class="btn btn-primary" type="submit" {{action search target="this"}}>
        Submit
      </button>
      <button class="btn" type="reset">Cancel</button>
    </div>
  </fieldset>

</form>
